* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
  background-color: #603601;
}
#title-container {
  padding: 10px;
}
h1 {
  color: #ccc;
  display: flex;
  padding: 10px;
  margin: 40px;
  justify-content: center;
}
#startbtnContainer {
  margin: 10px;
  padding: 10px;
}
#restartbtn {
  margin: 10px;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

#button-container {
  display: none;
  margin: 10px;
}
#startbtn {
  padding: 10px;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}
#form-container {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
}
#form {
  border-radius: 20px;
  width: 500px;
  padding: 20px;
}
label {
  padding: 5px;
  margin: 10px;
}
input[type="text"],
select {
  width: 30%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
input[id="submitbtn"] {
  width: 40%;
  background-color: #ccc;
  padding: 4px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}
#folder {
  display: none;
  margin: 20px;
  padding: 10px;
}

#statusMessage {
  display: none;
  margin: 20px;
  padding: 20px;
  color: #ccc;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

#grid-container {
  display: none;
  padding: 10px;
  margin-bottom: 20px;
}
.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  color: #ccc;
  font-size: xx-large;
}

@media only screen and (max-width: 400px) {
  body {
    height: 581px;
  }
  #form-container {
    width: 400px;
  }
  input[type="text"],
  select {
    width: 25%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
